@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes: soly --default;
}

@plugin "daisyui/theme" {
	name: 'soly';
	default: true;
	prefersdark: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(96% 0.007 247.896);
	--color-base-300: oklch(92% 0.013 255.508);
	--color-base-content: oklch(35.519% 0.032 262.988);
	--color-primary: oklch(58% 0.253 17.585);
	--color-primary-content: oklch(98% 0 0);
	--color-secondary: oklch(100% 0 0);
	--color-secondary-content: oklch(0% 0 0);
	--color-accent: oklch(64% 0.246 16.439);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(35.519% 0.032 262.988);
	--color-neutral-content: oklch(98.462% 0.001 247.838);
	--color-info: oklch(96% 0.007 247.896);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(87% 0.15 154.449);
	--color-success-content: oklch(98% 0 0);
	--color-warning: oklch(94% 0.129 101.54);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.28125rem;
	--size-field: 0.3125rem;
	--border: 2px;
	--depth: 1;
	--noise: 1;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
